.Message {
    padding: 1em;
    width: 50%;
    position: absolute;
    bottom: -15%;
    right: 2.5%;
    width: max-content;
    box-shadow: 0px 2px 4px #888;
    border-radius: 5px;
    animation: show 10s ease;
}

@keyframes show {
    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(-225%);
    }

    80% {
        transform: translateY(-225%);
    }

    100% {
        transform: translateY(0%);
    }
}