.WorkArea {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 88vh;
}

.Nav {
    display: flex;
    margin: 1em 0.5em;
    justify-content: space-between;
    align-items: center;
}

.Nav span {
    font-size: 1.75rem;
    cursor: pointer;
}

.PostArea {
    width: 100%;
    background: #fff;
}

h3 {
    margin: 1em 0em;
}