.WorkArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 90vh;
}

.Nav {
    width: 80%;
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
    align-items: center;
}

.Nav span {
    font-size: 1.75rem;
    cursor: pointer;
}

.Header {
    margin: 1em auto;
    color: #888;
}

.PostArea {
    width: 100%;
    background: #fff;
}

h3 {
    margin: 1em 0em;
}

@media(max-width: 600px) {
    .WorkArea {
        background: red;
    }
}