.NavBar {
    background: #fff;
    box-shadow: 0px 2px 4px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    z-index: 100;
}

.NavBar span {
    color: #2196F3;
    margin: 0em 0.5em;
    cursor: pointer;
}

.LinkList {
    display: flex;
    list-style: none;
}

.Link {
    color: #2196F3;
    margin: 1em;
    padding: 1.5em 0;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    height: 10vh;

}

.activeLink::after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 95%;
    left: 0%;
    background: #2196F3;
    border-radius: 5px 5px 0px 0px;
}

.LogOut {
    color: #B71C1C;
}

@media(max-width: 650px) {
    .NavBar {
        height: 16.5vh;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.notAuth {
    /* justify-content: flex-end; */
    background: #2196F3;;
}

.notAuth h2 {
    margin: 0em 0.5em;
}

.notAuth h2, .notAuth .Link{
    color: #fff
}

.notAuth .activeLink::after {
    background-color: #fff;
}