.NavBar {
    background: #fff;
    min-height: 75px;
    box-shadow: 0px 2px 4px #ccc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.LinkList {
    display: flex;
    list-style: none;
}

.Link {
    color: #2196F3;
    margin: 1em;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.activeLink::after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 230%;
    left: 0%;
    background: #2196F3;
    border-radius: 5px 5px 0px 0px;
}

.LogOut {
    color: #B71C1C;
}