.Input {
    background: red;
}

.Textarea {
    background: #fff;
    width: 100%;
    height: 6em;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 5px 5px 0px 0px;
    background: #ebeff3;
    resize: none;
    padding: 1em 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}