.Input {
    height: 3em;
    border: none;
    padding: 0.75em 1em;
    border-bottom: 2px solid #2196F3;
    background-color: #ebeff3;
    border-radius: 5px 5px 0px 0px;
    transition: 100ms ease-in;
    outline: none;
}

.Input:focus {
    background-color: #d2e9fc;
}

.InputDiv {
    display: flex;
    flex-direction: column;
}

.InputDiv label {
    color: #888;
    margin: 0.5em 0;
}

.Textarea {
    background: #fff;
    width: 100%;
    height: 6em;
    border: none;
    border-bottom: 2px solid #2196F3;
    border-radius: 5px 5px 0px 0px;
    background: #eee;
    resize: none;
    padding: 1em 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    transition: 100ms ease-in;
}

.Textarea:focus {
    background-color: #d2e9fc;
}